
#mainpanel{
    
    /* display: inline-block; */
    margin-top: 90px;
    position: relative;
	
}

#titulo-login{
    
    margin: auto;
    font-size: 27px;
    text-align: center;
    margin: 40px 0px;
    
}

#titulo-login #word1{
    color: #717171;
}


#titulo-login #word2{
    color: #4aaff6;
}



#contenido-login{
    
    margin: auto;
    width: 50%;
    text-align: center;
}

