*{
    
    padding: 0px;
    margin: 0px;
    font-family: sans-serif,Verdana,Arial;
}

body{
    
    background: #f1f1fe !important;
}

a{
    text-decoration: none !important;
    color: #777777;
}

a:hover{
	text-decoration: none !important;
	
}

a.linkprimary:hover{
    color: #47b3ff !important;
    transition: all 0.5s;
}

ul{
    list-style: none;
}

select{
	
	border-radius: 4px;
    line-height: 1.4;
    color: #555;
    border: 1px solid #ccc;
}

.badge{
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

button{
	border: none;
}


.boxtype1{

    padding: 0px;
    position: relative;
    border: 1px solid #d4d4d4;
    background: #fff;
    /*width: 100%;*/
    margin: auto;
    color: #717171;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-size: 18px;
}
.alone{
	float: none !important;
	margin: 0px auto !important;
}

.titulotop{
    padding: 8px 0px !important;
}

.contenidoapp{
    
    /* min-width: 590px; */
    width: 100%;
    margin-top: 45px;
}

.separador{
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    margin: 3px 0px !important;
    clear: both;
}


.padding{
    padding: 5px;
}
.nopadding{
    padding: 0px !important; 

}

.verticalmargin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.horizontalmargin{
    margin-left: 10px;
    margin-right: 10px;
}

.fullmargin{
    margin: 10px;
}

.aligncenter{
    text-align: center;
}

.alignleft{
    text-align: left;
}
.alignright{
    text-align: right;
}

.borderradius{
    border-radius: 10px;
}

.titulo{

    font-size: 21px;
}

.subtitulo{
    font-size: 19px;
}

.texto{
    font-size: 17px;
}

.pointer{
	cursor: pointer !important;
}
.hover:hover{
	color: #00AEEF !important;
}
.hover-background:hover{
	box-shadow: 0px 0px 100px rgba(0,0,0,0.1) inset;
}
div.button-disabled, button.button-disabled{
	opacity: 0.7;
	cursor: default !important;
}

.clear{
    clear: both;
}
.hidden{
	
	display: none;
}
.overflow{
	overflow: hidden;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}

.margin-auto{
	margin: auto;
}

.block{
	display: block !important;
}
.inline-block{
	display: inline-block !important;
}
/*  Prototipos  */



.backgroundprimary{
    /*background : #2c3e50 !important;*/
    background : #47b3ff !important;
}

.backgroundsecundary{
    background: #47b3ff !important;
}

.backgroundcancel{
    background: #777777 !important;
}

.backgroundfail{
    background: #ff6779 !important;
}

.backgroundsuccess{
    background: #35bfb0 !important;
}

.backgroundspecial{
    background: #9857ff !important;
}
.backgroundreset{
    background: #ffb42b !important; 
}



.colorprimary{
    /*color : #2c3e50 !important;*/
    color : #47b3ff !important;
    
}

.colorsecundary{
    color: #47b3ff !important;
}

.colorcancel{
    color: #777777 !important;
}

.colorfail{
    color: #ff6779 !important;
}

.colorsuccess{
    color: #24d684 !important;
}
.colorblanco{
    color: #FFF !important;
}
.colornegro{
    color: #353535 !important;
}
.colorspecial{
    color: #9857ff !important;
}
.colorreset{
    color: #ffd12b !important;   
}


.button{
    
    border-radius: 6px;
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    min-width: 100px;
	font-weight: 500 !important;
	user-select: none !important; 
	-webkit-user-select: none !important;
}

.button:hover{
    box-shadow: 0px 0px 100px rgba(0,0,0,0.15) inset;
    transition: all 0.2s;
}

.button:active{
    background: #777 !important;
	cursor: pointer !important;
}

.buttonblock{
    /*width: 100%;*/
    margin: 5px 0px;
}
.buttonline{
    display: inline-block;
}

i.iconbutton{
    
    text-align: center;
    width: 28px;
    cursor: pointer;
    font-size: 23px;
}

i.iconbutton:hover{
    color: #00AEEF;
    transition: all 0.1s;
}



/* estilos para las tablas generales */


.tableinfo{
    
    border-collapse: collapse;
    width: 100%;
    
}

.tableinfo thead{
        background: rgba(183,183,183,0.2);
}
.tableinfo th{
    
    padding: 5px 18px !important;
    color: #383838;
    font-size: 19px;
	padding-left: 5px;
	font-weight: 300 !important;
}

.tableinfo tr:hover > td{
    
    background-color: rgba(0,0,0,0.06);
}


.tableinfo td{
    
    font-size: 18px;
    color: #616161;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 6px 0px;
    margin: 10px 0px;
    cursor: default;
}

.tableinfo tr.tr-hover > td{
	
    background-color: rgba(0,0,0,0.06) !important;
}

table.tableborder td{
    border: 1px solid rgba(0,0,0,0.08);
}


/* DATA TABLE */ 

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 2px 5px !important;
}


.dataTables_wrapper .dataTables_filter input{

    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper  label{
	
	color: #666 !important;
	font-weight: 300 !important;
}
table.dataTable.no-footer{
	border-bottom: 1px solid #00AEEF !important;
}
table.dataTable thead th, table.dataTable thead td{
	border-bottom: 1px solid #00AEEF !important;
}



.defaultformulary{
    padding: 2px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 18px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
.defaultformulary:focus{
    border-bottom: 2px solid #00AEEF;
}


/*  Prototipos  */

.responsive{

    width: auto!important;
    margin: auto !important;
    display: block !important;
    float: none !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 5px !important;
    min-width: none !important;
    
}





















/*  !!!! Estilos para el menu principal    */


.topmenuprimary{
    
    top: 0px;
    position: fixed;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
    /* overflow: hidden; */
    z-index: 3;
    width: 100%;
    left: 0px;
}

.topmenuprimary .item{
    
    min-width: 60px;
    text-align: center;
    padding: 9px 5px;
    color: #fff;
    font-size: 18px;
    float: right;
    cursor: pointer;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid #83b7f7;
}


/* styles for big screens */

.topmenuprimary .item .movil{
    display: none;
}
.topmenuprimary .item .screen{
    display: inline-block;
}

/* styles for big screens */



.topmenuprimary .item ul{

    min-width: 140px;
    position: absolute;
    color: #828282;
    z-index: 2;
    background: #fff;
    list-style: none;
    right: 1px;
    top: 43px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    display: none;
    padding-left: 30px;

}

@media screen and (max-width: 320px){
	
	.topmenuprimary .item ul{
	
		width: 100% !important;
	}
}

.topmenuprimary .item ul li{
    padding: 5px 0px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.topmenuprimary .item ul li i{
    display: inline-block;
    position: absolute;
    left: 2px;
    width: 25px;
}

.topmenuprimary .item ul li:hover{
    color: #00AEEF;
}


.topmenuprimary .item:hover{
    
    background: rgba(0,0,0,0.05);
}

.topmenuprimary .item:hover > ul{
    
    display: block;
}

/*  estyles for moviles */
.ocultmenu .item{
    display: none;
}

.ocultmenu .active{
    display: block !important;
}

.ocultmenu .active .movil{
    display: inline-block;
}
.ocultmenu .active .screen{
    display: none ;
}

/*  estyles for moviles */


.logo{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 8px;
    display: inline-block;
    
}
.logo i{
    font-size:25px;
    color: #fff;
}
.logo .marca{
    
    color: #fff;
    font-size: 23px;
    
}


/*  !!!! Estilos para el menu principal    */










.dualcontainer{
    width: 80%;
    overflow: hidden;
    margin: auto;
}
.dualcontainer .dualoption{
    font-size: 18px;
    cursor: pointer;
}


.dualcontainer .option1{
    float: left;
}
.dualcontainer .option2{
    float: right;
}












/*
    Estilos profile
*/

.boxprofile{

    text-align: center;
}

.boxprofile .titleprofile{
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.boxprofile .titleprofile .name{
    
    display: inline-block;
}

.boxprofile .titleprofile .level{
    
    padding-left: 5px;
    position: absolute;
    /* left: 5px; */
    padding-right: 5px;
    background: rgba(0,0,0,0.09);
    color: #404040;
}

.boxprofile .avatar{
    
    border-bottom: 1px solid rgba(0,0,0,0.2);
	height: 125px;
}

.boxprofile .avatar img{
	
	width: auto;
	height: 100%;
}

.boxprofile .percentgame{
  position: relative;    
}

.boxprofile .barpercentback{
    
    position: relative;
    border: 2px solid #00AEEF;
    height: 10px;
}
.boxprofile .barpercentfront{
    
    top: 0px;
    background: #47b3ff;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0px;
}

.boxprofile .numberpercent{

    position: absolute;
    font-size: 18px;
    color: #585858;
    top: -20px;
    right: 0px;
}



#imagen_top_profile{
	
	border-radius: 50%;
    transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-webkit-transform: -webkit-scale(1.4);
    margin: 0px 10px;
}

/*
    Estilos profile
*/





















/*

     Estilos y animacion para formularios
*/



.formulary{
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: 18px;
    margin-bottom: 19px;
}


.formulary:hover .titulo{
    color: #00aeef;
    font-size: 16px !important;
    top: -11px !important;
    left: 0px;
    transition: all 0.5s;
}

.formulary .righter{
    padding-top: 10px;
}

.formulary i{
    position: absolute;
    left: -25px;
    top: 10px;
    color: #565656;
    font-size: 24px;
}

.formulary .titulo{
    position: absolute;
}

.tituloactive{
    position: absolute;
    color: #969696;
    font-size: 16px !important;
    top: 13px;
    left: 10px;
    transition: all 0.5s;
}

.titulonoactive{
    position: absolute;
    color: #00aeef;
    font-size: 16px !important;
    top: -11px;
    left: 0px;
    transition: all 0.5s;
}

.formulary input{
    
    border: none;
    font-size: 18px;
    outline: none;
    border-bottom: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    width: 100%;
    color: #717171;
    text-align: center;
}

.formulary input::selection{
    
    background: #aae0ff !important;
}

.formulary .barformulary{
 
    height: 3px;
    background: #00AEEF !important;
    margin: auto;
    transition: all 0.5s;
}

.formulary .barformularyactive{
 
    width: 100%;
}

.formulary .barformularynoactive{
    width: 0px;
    
}


/* 
      Estilos para las animaciones de los formularios
*/






/* Estilos para los scrolls */


.scrollCustom::-webkit-scrollbar{
    width: 11px;
	height: 10px;
    background-color: rgba(0,0,0,0.3);
}
.scrollCustom::-webkit-scrollbar-thumb {
     background-color: rgba(0,0,0,0.5);
     border-radius: 5px;
}
.scrollCustom::-webkit-scrollbar-thumb:hover {   
     background-color: rgba(0,0,0,0.6);
}


/* Estilos para los scrolls */



/*  Panel de alerta confirm */

.backpanel {
    max-height: 80% !important;
    position: fixed;
    width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 4;
    top: 0px;
    left: 0px;
    display: none;
	overflow: hidden;
    overflow-y: auto;
}

.frontpanel {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.infopanel {
    position: relative;
    margin: auto;
    width: 50%;
   /* height: 40px;*/
    background: #ffffff;
    top:20px;
    border-radius: 5px;
    padding: 10px;
    float: none !important;
}

.btnclose {
    text-align: center;
    height: 25px;
    width: 25px;
    font-size: 23px !important;
    color: #737373 !important;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    transition: all 0.5s;
}
.btnclose:hover{
    transform: rotate(180deg);
    transition: all 0.5s;
    color:#00AEEF !important;
}

.infopanel .titulopanel{
    text-align: center;
    font-size: 23px;
    color: #5a5a5a !important;
    padding: 5px 0px;
}


.infopanel .contenidopanel{
    padding: 5px;
    margin: 20px 0px;
}

.infopanel .contenidopanel textarea{
    
    font-size: 20px;
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    min-height: 80px;
}


/*  Panel de alerta confirm */


/*  ALERTA DE JUEGO */

#alerta_juego{
	
    position: fixed;
    top: 60px;
    z-index: 2000;
    right: 5px;
	padding-right: 10px !important;
    display: none;
	cursor: pointer !important;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	
}
#alerta_juego:hover{
	opacity: 0.9;
}

#alerta_juego #contenido_alerta{
	padding-right: 8px;
}

/*  ALERTA DE JUEGO */



.animation_basic1{

	animation-name: animacion_alarma;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes animacion_alarma{
	0%{
		transform: rotate(-20deg);
	}
	25%{
		transform: rotate(20deg);
	}
	26%{
		
		transform: rotate(0deg);
	}
}




.preloader-main{
	 z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.preloader-animation{
	background-color: #fff;
    margin-top: -48px;
    margin-left: -48px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 10px;
}

