

.optionfriend{
    border-bottom: 2px solid transparent;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1)
}

.optionfriend:hover{
    border-bottom: 2px solid #00AEEF;
    transition: all 0.5s;
    color: #00AEEF;
}

.optionfriendactive{
    border-bottom: 2px solid #00AEEF;
    color: #00AEEF;
}



#panelcomunidad{
	background: #FFF;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}


#contenedorcomunidad{
   
	min-height: 200px !important;
	max-height: 400px;
    overflow: auto;
    
}


.perfilcommunity{
   
	box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
	max-width: 400px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.perfilcommunity:hover{
    box-shadow: 0px 0px 2px rgba(0,0,0,0.63);
}

.perfilcommunity:after{
    content: '';
    width: 2px;
    height: 140%;
    background: #b9b9b9;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-20px,-20px);
}


.perfilcommunity .avatar{
    
    border-right: 2px solid rgba(0,0,0,0.1);
    width: 50px;
    /* height: 50px; */
    float: left;
    background: #fff;
}
.perfilcommunity .avatar img{
	width: 45px;
    height: 45px;
}

.perfilcommunity .avatar .lock{

	color: #383838;
    font-size: 18px;
    position: absolute;
    left: -6px;
    opacity: 1;
    top: -8px;
	display: none;
}



.perfilcommunity .informacion{
       /* margin-left: 140px;*/
}

.perfilcommunity .informacion .nombre{
	margin-bottom: 3px;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 16px;
    padding-right: 25px !important;
    padding-left: 5px;
    overflow: hidden;
	color: #424242;
}

.perfilcommunity .informacion .percent_container{
	height: 12px;
}
.perfilcommunity .informacion .percentgame{
    position: relative;
}
.perfilcommunity .informacion .barpercentback{
    
    display: inline-block;
    position: relative;
    border: 2px solid #00AEEF;
    height: 10px;
    width: 50%;
    margin-right: 5px;
}

.perfilcommunity .informacion .barpercentfront{

    top: 0px;
    background: #47b3ff;
    width: 28%;
    height: 100%;
    position: absolute;
    left: 0px;
}
.perfilcommunity .informacion .numberpercent{
    display: inline;
}
.perfilcommunity .lastconnection{
    font-size: 13px;
	margin: 5px 0px 0px 0px;
	color: #afafaf !important;
}
.perfilcommunity .lastconnection i{
    font-size: 12px;
	padding-left: 5px;
}

.perfilcommunity .informacion .actions i{
    font-size: 20px !important;
}

.perfilcommunity .moreoptions{
    position: absolute;
    top: 0px;
    right: 0px;
}

.perfilcommunity .moreoptions .btn{
    padding: 4px 6px;
}


.perfilcommunity .icon-init-chat{
	position: absolute;
	font-size: 20px;
	bottom: 5px;
	right: 5px;
	color: #777777;
	cursor: pointer;
}
.perfilcommunity .icon-init-chat:hover{
	color: #00AEEF;
}





#panel_chat{
	background: #FFF;
	border: 1px solid rgba(0,0,0,0.3);
}

.header-chat{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.header-chat .top_chat{
    overflow: hidden;
    padding-top: 3px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    overflow-x: auto;
}

.header-chat .box_user_chat{
	display: table-cell;
	text-align: center;
	cursor: pointer;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
	position: relative;
	user-select: none;
	-webkit-user-select: none;
}
.header-chat .box_user_chat:hover{
	
	background: rgba(0,0,0,0.1) !important;
}
.header-chat .box_user_chat_selected{
	
	background: rgba(0,0,0,0.1) !important;
}

.header-chat .box_user_chat .close{
	position: absolute;
	right: 2px;
	display: none;
    font-style: normal;
}
.header-chat .box_user_chat:hover > .close{
	
	display: block !important;
}

.header-chat .box_user_chat .alarm{
	position: absolute;
	left: 2px;
	animation-name: animacion_alarma;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	display: none;
}

@keyframes animacion_alarma{
	0%{
		transform: rotate(-20deg);
	}
	25%{
		transform: rotate(20deg);
	}
	26%{
		transform: rotate(0deg);
	}
}






.header-chat .box_user_chat .nombre_usuario{
	display: block;
	line-height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	width: 85px !important;
}

.header-chat #btn_chat_general{
	float: left;
}

.body-chat .current-user{
	background: #efefef;
}

.body-chat .current-user .nombre{
	font-size: 17px;
}

.body-chat .content-message-chat{
    max-height: 200px;
    overflow: hidden;
    min-height: 100px;
    background: #FFF;
    overflow-y: auto;
	position: relative;
}

.body-chat .content-message-chat .preloader{
	
	position: absolute;
    width: 100%;
    background: #FFF url(../imagenes/interfaces/preloader-ball.gif) center center no-repeat;
    height: 40px;
    top: 50%;
}



.body-chat .content-message-chat .message{
	margin: 10px 0px;
	position: relative;
}
.body-chat .content-message-chat .message:after{
	content: '';
	border-top: 5px solid transparent; 
	border-bottom: 5px solid transparent;
	position: absolute;
	bottom: 0px;
}

/* Mensaje DE OTRO USUARIO*/
.body-chat .content-message-chat .message-type1{
	text-align: left;
}
.body-chat .content-message-chat .message-type1:after{	
	left: 7px;
	border-right: 10px solid #bfe9f9;
}
.body-chat .content-message-chat .message-type1 .description-mesage{
    background: #bfe9f9;
}


/* Mensaje DE PROPIO*/
.body-chat .content-message-chat .message-type2{
	text-align: right;
}

.body-chat .content-message-chat .message-type2:after{	
	right: 7px;
	border-left: 10px solid #dcf2fa;
}
.body-chat .content-message-chat .message-type2 .description-mesage{
    background: #dcf2fa;
}



.body-chat .content-message-chat .description-mesage{

    width: auto;
    display: inline-block;
    border-radius: 5px;
    margin: 0px 15px;
    padding: 5px;
    color: #575757 !important;
    font-size: 15px;

}

.body-chat .content-message-chat .description-mesage .time{
	
   font-size: 11px;
   color: #00AEEF;
}


