#boxoptionsplay{
    
    padding-top: 10px !important;
}


#scrollerlist{
	border-top: 2px solid #00AEEF;
	padding-top: 5px;
}

#scrollerlist td{
	padding: 5px 10px !important;
}

#scrollerlist th:nth-child(1), #scrollerlist th:nth-child(4),#scrollerlist th:nth-child(5){
	width: 10px !important;
}

.table_changer td:nth-child(6),.table_changer th:nth-child(6){
	display: none !important;
}

.table_changer_up tr:hover > td{
	
	border-top:2px solid #9857ff !important;
	cursor: pointer;
}
.table_changer_down tr:hover > td{
	
	border-bottom:2px solid #9857ff !important;
	cursor: pointer;
}



#btn_cancelar_change{
	display: none;
}