
#main_configuracion{
	padding-top: 5px; 
}




/* INFORMACION BASICA */

label{
	font-weight: normal;
}

#panel_error{
	display: none;
}








/* AVATARES */
.box_avatar{
	
	display: inline-block;
    padding: 3px 5px;
    border: 1px solid rgba(165, 165, 165, 0.4);
	margin: 5px;
}

.box_avatar:hover{
	
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
.box_avatar_disabled{
	
	background: rgba(41, 41, 41, 0.1);
}




/* AMIGOS */


.optionfriend{
    border-bottom: 2px solid transparent;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1)
}

.optionfriend:hover{
    border-bottom: 2px solid #00AEEF;
    transition: all 0.5s;
    color: #00AEEF;
}

.optionfriendactive{
    border-bottom: 2px solid #00AEEF;
    color: #00AEEF;
}



#panelcomunidad{
	background: #FFF;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}


#contenedorcomunidad{
   
	min-height: 200px !important;
	max-height: 400px;
    overflow: auto;
    
}


.perfilcommunity{
   
	box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
	max-width: 400px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.perfilcommunity:hover{
    box-shadow: 0px 0px 2px rgba(0,0,0,0.63);
}

.perfilcommunity:after{
    content: '';
    width: 2px;
    height: 140%;
    background: #b9b9b9;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(-20px,-20px);
}


.perfilcommunity .avatar{
    
    border-right: 2px solid rgba(0,0,0,0.1);
    width: 50px;
    /* height: 50px; */
    float: left;
    background: #fff;
}
.perfilcommunity .avatar img{
	width: 45px;
    height: 45px;
}

.perfilcommunity .avatar .lock{

	color: #383838;
    font-size: 18px;
    position: absolute;
    left: -6px;
    opacity: 1;
    top: -8px;
	display: none;
}



.perfilcommunity .informacion{
       /* margin-left: 140px;*/
}

.perfilcommunity .informacion .nombre{
	margin-bottom: 3px;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 16px;
    padding-right: 25px !important;
    padding-left: 5px;
    overflow: hidden;
	color: #424242;
}

.perfilcommunity .informacion .percent_container{
	height: 12px;
}
.perfilcommunity .informacion .percentgame{
    position: relative;
}
.perfilcommunity .informacion .barpercentback{
    
    display: inline-block;
    position: relative;
    border: 2px solid #00AEEF;
    height: 10px;
    width: 50%;
    margin-right: 5px;
}

.perfilcommunity .informacion .barpercentfront{

    top: 0px;
    background: #47b3ff;
    width: 28%;
    height: 100%;
    position: absolute;
    left: 0px;
}
.perfilcommunity .informacion .numberpercent{
    display: inline;
}
.perfilcommunity .lastconnection{
    font-size: 13px;
	margin: 5px 0px 0px 0px;
	color: #afafaf !important;
}
.perfilcommunity .lastconnection i{
    font-size: 12px;
	padding-left: 5px;
}

.perfilcommunity .informacion .actions i{
    font-size: 20px !important;
}

.perfilcommunity .moreoptions{
    position: absolute;
    top: 0px;
    right: 0px;
}

.perfilcommunity .moreoptions .btn{
    padding: 4px 6px;
}


.perfilcommunity .icon-init-chat{
	position: absolute;
	font-size: 20px;
	bottom: 5px;
	right: 5px;
	color: #777777;
	cursor: pointer;
}
.perfilcommunity .icon-init-chat:hover{
	color: #00AEEF;
}
