

/* Estilos responsive */

@media screen and (max-width: 600px) {
	
	
	
	#boxoptionsplay .button{
		width: 100% !important;
		margin: 2px;
	}
	
	#boxoptionsplay .dropdown{
		width: 100% !important;
		margin 2px;
	}
	
	
	.remake_active_movil{
		margin-bottom: 75px !important;
	}
	
	
	#scrollerlist{
		
		max-height: none !important;
		border-top: 2px solid #00AEEF;
		border-bottom: 2px solid #00AEEF;
	}
	
	
	.fieldstars{
		display: none !important;
	}
	
	.acceptremake {
		
		width: 100% !important;
		bottom: 0px;
		left: 0px;
		margin: 0px!important;
		padding 2px 2px !important;
	}
	.acceptremake .quantitylist{
		padding: 3px !important;
	}
	
	.transladation{
		display:  none !important;
	}
	
}


/* Estilos responsive */







#boxoptionsplay{
    
    padding-top: 10px !important;
}


#profileuser{
    position: relative;
}


.profileUserScreen{
    
}



.boxinfoprofile{
    
    /*padding-left: 10px;*/
}
.boxinfoprofile ul{
    
    padding-left: 20px;
}
.boxinfoprofile ul li{
    
   margin: 5px 0px;
}
.boxinfoprofile ul li .numberdescription{
    
    width: 40px;
    margin: 5px 0px;
    display: inline-block;
}





#contenedorlistas{
    
    position: relative;
    /*min-width: 550px;
      */ 
}

.listasScreen{
    
}


.listasMovil #scrollerlist{
    
    max-height: 300px;
}

#scrollerlist{
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
}


.tablegame{
    
    border-collapse: collapse;
    width: 100%;
}

.tablegame tr:hover > td{
    
    background-color: #ececec;
}

.tablegame tr:hover > td.fieldplay i{
    
    opacity: 1;
}

.tablegame td{
    
    font-size: 18px;
    color: #616161;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 6px 0px;
    margin: 10px 0px;
    cursor: pointer;
}

.tablegame td.fieldid{
    max-width: 50px;
    width: 50px;
    color: #9c9c9c;
    border-right: 1px solid rgba(0,0,0,0.06);
}

.tablegame td.fieldname{
    /*max-width: 35px;*/
    padding-left: 15px;
    text-align: left;
}

.tablegame td.fieldstars{
    max-width: 75px;
    width: 75px;
    color: #b9b9b9;
}
.tablegame td.fieldplay{
    max-width: 50px;
    width: 50px;
    font-size: 18px;
}

.tablegame td.fieldplay i{
	opacity: 0;
}


.tr_selected > td{
	background: #d9e8ff !important;
}



#inforemake{
	display: none;
}
.inforemake{
    margin: 10px 0px;
    text-align: left;
    padding-left: 10px;
}


#dialogo_remake{
	
	display: none;
}
.acceptremake{
    
    position: fixed;
    margin: 10px 10px;
    clear: both;
    text-align: center;
    right: 0px;
    bottom: 0px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

.acceptremake .quantitylist{
    padding: 10px 0px;
}







