#boxmainprepared{
    
    width: 70%;
    position: relative;
    margin-top: 30px;
    font-size: 22px;
    overflow: hidden;
}


#titulo{
    clear: both;
    margin-bottom: 20px;
}



#boxnombreavatar{
    width: 50% !important;
    text-align: left;
    min-width: 260px !important;
}

#mainpicture{
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


#boxselectorimagen img{
    
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s;
    
}

#boxselectorimagen img:hover{
    
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 90px;
    height: 90px;
    transition: all 0.5s;
    
}