#mainpanel{
    
    width: 80%;
    /* display: inline-block; */
    margin-top: 70px;
    position: relative;
}

@media screen and (max-width : 700px){
	
	#mainpanel{
		width: 100% !important;
	}
	
	.dualoption{
		display: block !important;
		float: none !important;
		margin: auto !important;
		text-align: center;
	} 
}

#titulo-login{
    
    margin: auto;
    font-size: 27px;
    text-align: center;
    margin: 40px 0px;
    
}

#titulo-login #word1{
    color: #717171;
}


#titulo-login #word2{
    color: #4aaff6;
}



#contenido-login{
    
    margin: auto;
    width: 50%;
    text-align: center;
}

#panelerror{
	margin-bottom: 0px !important;
	padding-top: 7px;
	padding-bottom: 7px;
}