#boxpreparegame{
	
}

#boxmainprepared{
    
    position: relative;
    padding: 10px;
    font-size: 20px;
    padding-left: 20px;
	width: 90%;
	margin: auto;
    margin-top: 30px;
}


#buttonsort{
    cursor: pointer;
}
#buttonsort i{
    font-size: 18px;
}

#boxheartsprepare{
    margin: 5px 0px;
}

#boxheartsprepare i.heart{
    position: relative;
    width: 40px;
    font-size: 27px;
    text-align: center;
    cursor: pointer;
}
#boxheartsprepare i.heart:hover{
    color: #ff2929;
    animation-name: animacion;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animacion {
	
	
	from{
		color: #ff2929;
	}
	to{
		color: #00AEEF;
	}
	
}

#boxheartsprepare i.active{

    color: #ff2929;
}

.labelheart{
    position: absolute;
    color: #ffffff;
    top: 6px;
    left: 15px;
    font-size: 17px;
}

#labelinfiniteheart{
    
    
    transform: rotate(90deg) translateX(-5px);
    font-size: 18px;
}


#box_check_config_allow{
	display: none;
}
#btn_guardar_configuraciones{
	display: none;
}
