#tabsdetail .tab{
    margin: 5px 10px;
    display: inline-block;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    
}
#tabsdetail .tab:hover{
    margin: 5px 10px;
    display: inline-block;
    cursor: pointer;
    border-bottom: 2px solid #00AEEF;
    
}

#tabsdetail .tabactive{
    
    border-bottom: 2px solid #00AEEF;
}


#informacionbug{
    border-left: 3px solid #00AEEF;
	padding-left:1px;
}

#descripcionbug{
    border-left: 3px solid #00AEEF;
}
#descripcionbug textarea{
    width: 95%;
    font-size: 19px;
    min-width: 250px !important;
    height: 200px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    margin-left: 10px;
    
}