.leftformulary{
    display: inline-block;
    margin-right: 5px;
}

.optiongame{
    display: inline-block;
}

#contentgame{
    
    min-width: 60%;
    overflow: hidden;
}

#questionsgame{
    
}


.contenedorimagen{
    border: 1px solid rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.1);
    text-align: center;
}

@media screen and (max-width: 770px){
	.contenedorimagen{
		height: 70px !important;
	}
}

.contenedorimagen img{
    width: 100%;
    height: 100%;
}

#panelmedia{
}
#panelmedia p{
    margin: 0px !important; 
}

#contenido{
    overflow: hidden;
}

#contenedorpregunta{
    position: relative;
}


#textopregunta{
	padding: 4px;
    width: 98%;
    display: block;
    resize: vertical;
    /*min-height: 100px;*/
    font-size: 19px;
    border: 1px solid rgba(0,0,0,0.15);
}

#contenedortable{
    max-height: 270px;
    overflow: auto;
    overflow-x: hidden;
    border:1px solid rgba(0,0,0,0.2);
}

#tableanswers td{
   border-bottom: none;    
   border-top: none;    
}

#tableanswers td:nth-child(1){
    width: 40px;
    
}

#tableanswers textarea{
    width: 98%;
    display: block;
    resize: vertical;
    font-size: 19px;
    padding: 2px;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-left: 2px solid #00AEEF
}




#contenedorlistanswers{
    
	max-height: 395px !important;
    overflow: auto;
    overflow-x: hidden;
    border:1px solid rgba(0,0,0,0.1);
}

#contenedorlistanswers td{
	
	cursor: pointer;
}

#listapreguntas td:nth-child(1){
    width: 40px;
    border-right: 1px solid rgba(0,0,0,0.1);
    
}





/*  estilos Panel de creacion para imagenes */

#panel_uploader_imagen{
	
	display: none;
	
}

.panel_media .panel_info_media{
	
	width: 90%;
}

.panel_media .panel_info_media .contenidopanel{
	
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
}

.panel_media .boxmedia{
	
	width: 180px;
    position: relative !important;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.15);
    margin: 5px;
}


.panel_media .boxmedia .opciones{
	
    position: absolute;
    right: 0px;
}

.panel_media .boxmedia i{

	color: #fff;
    width: 30px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.panel_media .boxmedia .opciones{
	
    position: absolute;
    right: 0px;
}
.panel_media .boxmedia img{
	
    width: 100%;
    height: 150px;
}

.panel_media .boxmedia .descripcion{
	
    height: 60px;
    text-align: center;
    background: rgba(0,0,0,0.05);
    line-height: 16px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* Imagen uploading */


#panel_uploader_nueva_imagen{
	display: none;
	z-index: 5;
}

.imagen-toupload{
	
	border: 1px solid rgba(0,0,0,0.1);
    margin: auto;
    width: 200px;
}


.imagen-toupload img{

	height: 200px;
	width: 100%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#contenedor_upload_imagen{
	display: none;
}


#btnnuevaimagen{
	display: none;
}








