.separador{
	margin: 1px 0px;
}
#boxplaying{
	display: none;
}

#boxmainplay{
    
    width: 80%;
    position: relative;
    padding: 10px;
    margin-top: 13px;
    font-size: 19px;
    padding-left: 20px;
}

#boxtitulo{
    overflow: hidden;
	padding: 5px 0px !important;
}

#boxtitulo .leftmenu{
    float: left;
}

#boxtitulo .rightmenu{
    float: right;
    margin-right: 10px;
    text-align: center;
	padding-top: 3px;
}



#boxtitulo i{
    font-size: 23px;
    width: 35px;
    margin: 0px 5px; 
    
    cursor: pointer;
    text-align: center;
}

#boxtitulo i:hover{
    color: #00AEEF;
    
}



#boximage{

    position: relative;
    margin: auto;
    width: 250px;
    height: 200px;
	max-width: 50%;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2)
}

#boximage img{
	display: block;
	width: 100%;
	height: 100%;
	background: url("../imagenes/listas/default.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width:700px){
	
	#boximage{
		
    	height: 140px !important;
	}
	
}


#question{
    width: 85%;
    text-align: left;
    margin: auto;
    margin-bottom: 10px !important;
    margin-top: 10px;
    font-size: 20px;
}

#icon_question{
	
    font-size: 25px;
    position: absolute;
    top: 18px;
    left: -30px;
}


#answer{
    width: 85%;
    text-align: center;
    margin: auto;
	position: relative;
}

#answer textarea{
    text-align: left;
    width: 100%;
    outline: none;
    font-size: 19px;
    color: #353535;
    padding: 3px;
    resize: vertical;
    max-height: 90px;
}



#answer textarea.responsive{
    max-height: 90px;
}


#reply:focus{
	box-shadow: 0px 0px 5px #00AEEF;
	
}

.reply-win{
	color: #3c763d !important;
	box-shadow : 0px 0px 1px 1px #7abc7a !important;
}

.reply-lose{
	color: #a94442 !important;
	box-shadow : 0px 0px 1px 1px #ff5d6a !important;
}
textarea:disabled{
	background: rgba(175, 175, 175, 0.2);
}

#contenedorstatus{
    border-radius: 8px;
    border: 2px solid #00AEEF;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    position: relative;
    background: #e3e4e4;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


#status{
    width: 50%;
    height: 16px;
    background: #47b3ff
}

.responsivestatus{
    width: 40% !important;
}

#countstatus{
    font-size: 18px;
    top: -3px;
    background: #00AEEF;
    color: #FFF;
    border-radius: 5px;
    padding: 1px 3px;
    text-align: center;
}




#boxhearts{
    
    float:right;
    font-size: 22px;
}
#boxstars{
    float: left;
    font-size: 22px;
}



#buttonacept {
    width: 150px;
    margin: auto;
}





#tableresponses{
	display: none;
	width: 100%;
}

.table_perder{
	background: #fdd4d4;
}

.table_perder td{
	
	color: #a94442 !important;
	border-top: 1px solid rgba(169, 68, 94, 0.37);
    border-bottom: 1px solid rgba(169, 68, 94, 0.37);
}

.table_perder td:nth-child(1){
    
    border-right: 1px solid rgba(169, 68, 94, 0.37);
}



.table_ganar{
	background: #c3efb3;
}

.table_ganar td{
	
	color: #3c763d !important;
	border-top: 1px solid #bcd6a6;
    border-bottom: 1px solid #bcd6a6;
}

.table_ganar td:nth-child(1){
    
    border-right: 1px solid #bcd6a6;
}



#tableresponses td:nth-child(1){
    
    min-width: 200px;
	padding: 0px 30px;
    font-size: 27px;
}
#tableresponses td:nth-child(2){
 
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    width: 100%;
}

#tableresponses ul{
    padding-left: 20px;
}
#tableresponses ul li{
    padding: 6px 0px;
    list-style: disc;
}




#contenedor-interactivo{
	position: absolute;
	left: 0px;
	width: 100%;
}


#estadisticas{
    position: absolute;
	left: 5px;
}

#sonido{
    right: 5px;
	position: absolute;
}

#sonido i{
    width: 30px;
    font-size: 30px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    text-align: center;
	position: relative;
	z-index: 2;
}
#sonido i:hover{
    border-bottom: 2px solid rgba(0,0,0,0.1);
}


#btn_volumen_1{
	
}

#animate-circle{
    position: absolute;
    top: -5px;
    right: 29px;
    width: 40px;
    height: 40px;
    border: 3px solid #9857ff;
    border-radius: 50%;
	animation-name: animacion_audio;
	animation-duration: 2s;
	animation-direction: normal;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	z-index: 1;
	display: none;
}

#animate-circle:before{
	
    border-radius: 50%;
    content: '';
    width: 43px;
    height: 26px;
    position: absolute;
    background: #ffffff;
    transform: translate(-5px,20%);
}

@keyframes animacion_audio{
	
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}



#btn_nuevo_favorito{
	position: absolute;
	right: 15px;
	top: 18px;
}
