#boxmainprepared{
    
    width: 90%;
    position: relative;
    padding: 10px;
    margin-top: 0px;
    font-size: 22px;
    padding-left: 20px;
    overflow: hidden;
}


#titulo{
    clear: both;
    margin-bottom: 20px;
}



#perfil{
    width: 30%;
    float: left;
}

.perfilScreen{
    
}


#informacion{
    
    width: 60%;
    float: right;
}

#boxinfogame td{
    text-align: left;
    padding-left: 10px;
}

#boxinfogame tr td:nth-child(1){
    width: 30%;
}




.boxinfoquests{
    
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3) inset;
    /* background: rgb(119, 119, 119); */
    display: inline-block;
    width: 140px;
    margin: 10px 20px;
    /* padding: 5px 10px; */
    color: #6b6b6b;
    cursor: pointer;
}

.boxinfoquests:hover > .contenido{
    background: rgba(0,0,0,0.07);
}

.boxinfoquests .titulo{
        padding: 5px;
    border-bottom: 1px solid rgb(199, 199, 199);
    font-size: 24px;
    /* margin-bottom: 10px; */
    
}



.boxinfoquests .contenido{

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12) inset;
    padding: 10px 0px;
    font-size: 30px;
    color: #47b3ff;
    background: rgba(255, 255, 255, 0.06);
    
}


#panelPreguntas{
	display: none;
}

