

#btn_solucionados, #btn_pendientes, #btn_sin_solucion{
	
	border-radius: 0px;
}

#btn_solucionados{
	
	border-bottom: 2px solid #1d9d74;
}
#btn_pendientes{
	
	border-bottom: 2px solid #ffb42b;
}
#btn_sin_solucion{
	
	border-bottom: 2px solid #ff6779;
}


#btn_solucionados:hover{
	
	color: #1d9d74 !important;
}
#btn_pendientes:hover{
	
	color: #ffb42b !important;
}
#btn_sin_solucion:hover{
	
	color: #ff6779 !important;
}


.btn_activado{
	font-weight: 700;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}


.tableinfo tr th:nth-child(2){
	width: 35% !important;
	max-width: 35% !important;
}


